<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="aspectEntry" class="com.conan.aopbaseconfig.MyAspect"></bean>
    <bean id="aspectBiz" class="com.conan.aopbaseconfig.AspectBiz"></bean>


    <aop:config>
        <aop:aspect id="aspectid" ref="aspectEntry">
            <aop:pointcut id="pointcutid" expression="execution(* com.conan.aopbaseconfig.AspectBiz.init()))"/>
            <aop:before method="before" pointcut-ref="pointcutid"/>
            <aop:after method="after" pointcut="execution(* com.conan.aopbaseconfig.AspectBiz.after()))"/>
            <aop:after-throwing method="getException"
                                pointcut="execution(* com.conan.aopbaseconfig.AspectBiz.doSomethingWithException()))"/>
            <aop:after-returning method="returnSomething"
                                 pointcut="execution(* com.conan.aopbaseconfig.AspectBiz.*(..)))"/>

            <aop:around method="aroundMethod" pointcut="execution(* com.conan.aopbaseconfig.AspectBiz.doArround()))"/>
        </aop:aspect>


    </aop:config>
</beans>