<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="serviceImpl" class="com.conan.services.ServiceImpl" >
        <property name="iDao" ref="daoImpl"/>
        <constructor-arg name="iDao" ref="daoImpl"/>
    </bean>

    <bean id="daoImpl" class="com.conan.dao.DaoImpl" ></bean>

    <bean id="applicaContextAware" class="com.conan.aware.ApplicaContextAware"/>

</beans>